html, body {
    height: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0
}

li {
	padding: 10px 0;
}

a {
	text-decoration: none;
	color: inherit;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
}

#game-canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
    vertical-align: top;
}

*, *:before, *:after {
	box-sizing: border-box;
}

#menu {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	z-index: 2;
	text-align: center;
	background-color: grey;
}

#menu.main {
	background-image: url('../assets/background.png');
	background-repeat: repeat;
}

#main {
	display: none;
	height: 60%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#main h1 {
	color: white;
	text-shadow: -1px -1px 0 darkred, 1px -1px 0 darkred, -1px 1px 0 darkred, 1px 1px 0 darkred;
}

.button {
	display: block;
	width: 150px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	border: 1px solid red;
	color: white;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color: red;
	background-image: -webkit-linear-gradient(bottom, red 0%, darkred 100%);
	background-image:         linear-gradient(to bottom, red 0%, darkred 100%);
	border-radius: 5px;
}

.button:hover {
	background-color: darkred;
	background-image: -webkit-linear-gradient(bottom, darkred 0%, red 100%);
	background-image:         linear-gradient(to bottom, darkred 0%, red 100%);
}

#credits {
	height: 60%;
	display: none;
	line-height: 20px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#credits h1 {
	color: white;
	text-shadow: -1px -1px 0 darkred, 1px -1px 0 darkred, -1px 1px 0 darkred, 1px 1px 0 darkred;
}

#credits li {
	padding: 5px 0;
}

.artwork, .music, .developer {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.artwork {
	color: white;
}

.music {
	color: white;
}

.developer {
	color: white;
}

.back, .back:hover {
	margin-top: 10px;
}