html, body {
    height: 100%;
}

body {
    overscroll-behavior: contain;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0
}

li {
	padding: 10px 0;
}

a {
	text-decoration: none;
	color: inherit;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
}

#game-canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
    vertical-align: top;
}

*, *:before, *:after {
	box-sizing: border-box;
}

#menu {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	z-index: 2;
	text-align: center;
}

#menu.main {
	background-image: url('../assets/background.png');
	background-repeat: repeat;
}

#main {
	display: none;
	height: 60%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

h1 {
	color: white;
	text-shadow: black 1px 0 7px;
	font-size: xx-large;
}

.button {
	display: block;
	width: 150px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	border: 1px solid red;
	color: white;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color: red;
	background-image: -webkit-linear-gradient(bottom, red 0%, darkred 100%);
	background-image:         linear-gradient(to bottom, red 0%, darkred 100%);
	border-radius: 5px;
}

.button:hover {
	background-color: darkred;
	background-image: -webkit-linear-gradient(bottom, darkred 0%, red 100%);
	background-image:         linear-gradient(to bottom, darkred 0%, red 100%);
}

#instructions {
	height: 60%;
	display: none;
	line-height: 20px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#instructions li {
	padding: 5px 0;
	color: white;
}

#credits {
	height: 60%;
	display: none;
	line-height: 20px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#credits li {
	padding: 5px 0;
}

.artwork, .music, .developer {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.artwork {
	color: white;
}

.music {
	color: white;
}

.developer {
	color: white;
}

.back, .back:hover {
	margin-top: 10px;
}

#selectPlayer {
	height: 80%;
	display: none;
	line-height: 20px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#selectGamePlay {
	height: 80%;
	display: none;
	line-height: 20px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

/* TOGGLE STYLING */
  .toggle input {
	width: 0;
	height: 0;
	position: absolute;
	left: -9999px;
  }
  .toggle input + label {
	margin: 0;
	padding: 0.5rem 2.5rem;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	border: solid 1px #DDD;
	background-color: #FFF;
	font-size: 1rem;
	line-height: 140%;
	font-weight: 600;
	text-align: center;
	box-shadow: 0 0 0 rgba(255, 255, 255, 0);
	transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
	/* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
	/*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
	/* ----- */
  }
  .toggle input + label:first-of-type {
	border-radius: 6px 0 0 6px;
	border-right: none;
  }
  .toggle input + label:last-of-type {
	border-radius: 0 6px 6px 0;
	border-left: none;
  }
  .toggle input:hover + label {
	border-color: #213140;
  }
  .toggle input:checked + label {
	background-color: red;
	background-image: -webkit-linear-gradient(bottom, red 0%, darkred 100%);
	background-image:         linear-gradient(to bottom, red 0%, darkred 100%);
	color: #FFF;
	box-shadow: 0 0 10px rgba(200, 0, 0, 0.5);
	border-color: red;
	z-index: 1;
  }
  .toggle input:focus + label {
	outline: dotted 1px #CCC;
	outline-offset: 0.1rem;
  }

#gameover {
	height: fit-content;
	display: none;
	line-height: 20px;
	margin: auto;
	width: fit-content;
	position: absolute;
	padding: 20px;
	top: 0; left: 0; bottom: 0; right: 0;
	background-color: rgba(128, 0, 0, 0.5) ;
}

#gameover li {
	padding: 5px 0;
	color: white;
}

#validatecode {
	height: 80%;
	display: none;
	line-height: 20px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#validatecode li {
	padding: 5px 0;
	color: white;
}

.sound {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 25px;
	cursor: pointer;
	z-index: 3;
}

.player-grid-container {
	display: grid;
	grid-template-areas:
	  'item item'
	  'item item';
	gap: 20px;
	padding: 10px;
	width: min-content;
	margin: auto;
  }
  
.player-grid-container > div {
	text-align: center;
	font-size: large;
}

.imageButton {
	display: block;
	margin: 0 auto;
	color: white;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color: red;
	background-image: -webkit-linear-gradient(bottom, red 0%, darkred 100%);
	background-image:         linear-gradient(to bottom, red 0%, darkred 100%);
	border-radius: 5px;
}

.imageButton:hover {
	background-color: darkred;
	background-image: -webkit-linear-gradient(bottom, darkred 0%, red 100%);
	background-image:         linear-gradient(to bottom, darkred 0%, red 100%);
}

.sound-on {
	background-image: url('../assets/menus/soundOn.png');
	background-repeat: no-repeat;
}

.sound-off {
	background-image: url('../assets/menus/soundOff.png');
	background-repeat: no-repeat;
}
